{{ define "index/index.html" }}
<!doctype html>
<html>
<head>
{{template "header.html"}}
</head>
<body>
{{template "nav.html" .}}
<div class="line46"></div>
<article>
    <div class="pics">
        <ul>
            <li><i><a href="/"><img src="/static/images/t01.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
            <li><i><a href="/"><img src="/static/images/t04.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
            <li><i><a href="/"><img src="/static/images/t03.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
        </ul>
    </div>
    <div class="blank"></div>
    <div class="leftbox">
        <div class="tuijian">
            <h2 class="hometitle"><span><a href="/">模板分享</a><a href="/">学无止境</a><a href="/">慢生活</a><a href="/">热门标签</a></span>特别推荐</h2>
            <ul>
            {{range $key,$value:=.recommendList}}
                <li>
                    <a href="/article/{{$value.ID}}"><div class="tpic"><img src="{{$value.Thumb}}"></div></a>
                    <b>{{$value.Title}}</b><span>{{$value.Description}}...</span><a href="/article/{{$value.ID}}" class="readmore">阅读原文</a>
                </li>
            {{end}}
            </ul>
        </div>
        <div class="newblogs">
            <h2 class="hometitle">最新文章</h2>
            <ul id="list" style="display:none;">
            {{range $key,$value:=.articleList}}
                <li>
                    <h3 class="blogtitle"><a href="/article/{{$value.ID}}">{{$value.Title}}</a></h3>
                    <div class="bloginfo"><span class="blogpic"><a href="/article/{{$value.ID}}" title=""><img src="{{$value.Thumb}}"  /></a></span>
                        <p>{{$value.Description}}...</p>
                    </div>
                    <div class="autor"><span class="lm f_l"><a href="/">{{$value.Author}}</a></span><span class="dtime f_l">{{$value.CreatedAt | formatAsDate}}</span><span class="viewnum f_l">浏览（<a href="javascript:;"  onclick="addArticleCounter({{$value.ID}},1)">{{$value.Hits}}</a>）</span><span class="pingl f_l">喜欢（<a href="javascript:;" onclick="addArticleCounter({{$value.ID}},2)">{{$value.Up}}</a>）</span><span class="f_r"><a href="/article/{{$value.ID}}" class="more">阅读原文</a></span></div>
                </li>
            {{end}}}
            </ul>
            <ul id="list2">
            </ul>
            <script src="/static/js/page2.js"></script>
        </div>
    </div>
    <div class="rightbox">
        <div class="aboutme">
            <h2 class="ab_title">关于我</h2>
            <div class="avatar"><img src="/static/images/avatar.jpg" /></div>
            <div class="ab_con">
                <p>网名：Jonni | Zhang</p>
                <p>职业：代码狗、程序猿、攻城狮 </p>
                <p>籍贯：四川省—成都市</p>
                <p>邮箱：757970599@qq.com</p>
            </div>
        </div>
        <div class="blank"></div>
        {{template "search.html"}}
        {{template "recommend.html" .}}
        {{template "rank.html" .}}
        {{template "sharelink.html" .}}
        {{template "wechat.html"}}
    </div>
</article>
{{template "footer.html"}}
</body>
</html>
{{ end }}