{{ define "index/index.html" }}
<!doctype html>
<html>
<head>
{{template "header.html"}}
</head>
<body>
{{template "nav.html"}}
<div class="line46"></div>
<article>
    <div class="pics">
        <ul>
            <li><i><a href="/" target="_blank"><img src="/static/images/t01.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
            <li><i><a href="/"><img src="/static/images/t04.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
            <li><i><a href="/"><img src="/static/images/t03.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
        </ul>
    </div>
    <div class="blank"></div>
    <div class="leftbox">
        <div class="tuijian">
            <h2 class="hometitle"><span><a href="/">模板分享</a><a href="/">学无止境</a><a href="/">慢生活</a><a href="/">热门标签</a></span>特别推荐</h2>
            <ul>
            {{range $key,$value:=.recommendList}}
                <li>
                    <div class="tpic"><img src="/static/images/b01.png"></div>
                    <b>{{$value.Title}}</b><span>{{$value.Description}}...</span><a href="/article/{{$value.ID}}" class="readmore">阅读原文</a>
                </li>
            {{end}}
            </ul>
        </div>
        <div class="newblogs">
            <h2 class="hometitle">最新文章</h2>
            <ul id="list" style="display:none;">
            {{range $key,$value:=.articleList}}
                <li>
                    <h3 class="blogtitle"><a href="/article/{{$value.ID}}" target="_blank" >{{$value.Title}}</a></h3>
                    <div class="bloginfo"><span class="blogpic"><a href="/article/{{$value.ID}}" title=""><img src="/static/images/t01.jpg"  /></a></span>
                        <p>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</p>
                    </div>
                    <div class="autor"><span class="lm f_l"><a href="/">{{$value.Author}}}</a></span><span class="dtime f_l">{{$value.CreatedAt | formatAsDate}}</span><span class="viewnum f_l">浏览（<a href="/">{{$value.Hits}}</a>）</span><span class="pingl f_l">喜欢（<a href="/">30</a>）</span><span class="f_r"><a href="/article/{{$value.ID}}" class="more">阅读原文</a></span></div>
                </li>
            {{end}}}
            </ul>
            <ul id="list2">
            </ul>
            <script src="/static/js/page2.js"></script>
        </div>
    </div>
    <div class="rightbox">
        <div class="aboutme">
            <h2 class="ab_title">关于我</h2>
            <div class="avatar"><img src="/static/images/avatar.jpg" /></div>
            <div class="ab_con">
                <p>网名：Jonni | Zhang</p>
                <p>职业：代码狗、程序猿、攻城狮 </p>
                <p>籍贯：四川省—成都市</p>
                <p>邮箱：757970599@qq.com</p>
            </div>
        </div>
        <div class="blank"></div>
        {{template "search.html"}}
        {{template "recommend.html" .}}
        {{template "rank.html" .}}
        {{template "sharelink.html"}}
        {{template "wechat.html"}}
    </div>
</article>
<footer>
    <p>Design by <a href="/">测试博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>
{{ end }}