{{ define "article/detail.html" }}
<!doctype html>
<html>
<head>
{{template "header.html"}}
</head>
<body>
{{template "nav.html"}}

<div class="line46"></div>
<div class="blank"></div>
<article>
    <div class="leftbox">
        <div class="infos">
            <div class="newsview">
                <h2 class="intitle">您现在的位置是：<a href="/">首页</a>&nbsp;> <a href="">{{.articleDetail.Title}}</a></h2>
                <h3 class="news_title">{{.articleDetail.Title}}</h3>
                <div class="news_author">
                    <span class="au01">{{.articleDetail.Author}}</span><span class="au02">{{.articleDetail.CreatedAt | formatAsDate}}</span>
                    <span class="au03">共<b>{{.articleDetail.Hits}}</b>人围观</span>
                </div>
                <div class="tags">
                    {{range $key,$value:=.tags}}
                        <a href="/searchTag/{{$value}}" target="_blank">{{$value}}</a>
                    {{end}}
                </div>
                <div class="news_about"><strong>简介</strong>{{.articleDetail.Description}}</div>
                <div class="news_infos">
                {{.articleDetail.Body}}
                </div>
            </div>
            <div class="share">
                <p class="diggit" onclick="addArticleCounter({{.articleDetail.ID}},2)">
                    <a href=""> 顶！ </a>(<b id="diggnum">{{.articleDetail.Up}}</b>)
                </p>
                <p class="dasbox" style="color:#fff;" onclick="addArticleCounter({{.articleDetail.ID}},3)">
                    <a href=""> 踩！ </a>(<b id="diggnum">{{.articleDetail.Down}}</b>)
                </p>
            </div>

        </div>
        <div class="nextinfo">
            <p>上一篇：{{if not .prevArticle }}<a href="javascript:;">没有啦！</a>{{else}}<a href='/article/{{.prevArticle.ID}}'>{{.prevArticle.Title}}</a>{{end}}</p>
            <p>下一篇：{{if not .nextArticle }}<a href="javascript:;">没有啦！</a>{{else}}<a href='/article/{{.nextArticle.ID}}'>{{.nextArticle.Title}}</a>{{end}}</p>
        </div>
        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
            {{if not .aboutList}}
                <center>暂无数据</center>
            {{else}}
                {{range $key,$value:=.aboutList}}
                    <li><a href="/article/{{$value.ID}}" title="{{$value.Title}}">{{$value.Title}}</a></li>
                {{end}}
            {{end}}
            </ul>
        </div>
        <div class="news_pl">
            <h2>文章评论</h2>
            <ul>
                <div class="gbko">
                    <script>
                        function CheckPl(obj)
                        {
                            if(obj.saytext.value=="")
                            {
                                alert("您没什么话要说吗？");
                                obj.saytext.focus();
                                return false;
                            }
                            return true;
                        }
                    </script>
                    <form action="/e/pl/doaction.php" method="post" name="saypl" id="saypl" onsubmit="return CheckPl(document.saypl)">
                        <div id="plpost">
                                asd
                        </div>
                    </form>
                </div>
            </ul>
        </div>
    </div>
    <div class="rightbox">
    {{template "search.html"}}
        {{template "recommend.html" .}}
        {{template "rank.html" .}}
        {{template "wechat.html"}}
    </div>
</article>
{{template "footer.html"}}
</body>
</html>
{{end}}