<meta charset="utf-8">
<title>{{.articleDetail.Title}}</title>
<meta name="keywords" content="女程序员" />
<meta name="description" content="女程序员职业生涯该如何发展？" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/m.css" rel="stylesheet">
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
<script src="/static/js/page.js"></script>